<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskTick</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="heading">
      <h1><%= Date %></h1>
      <div class="list__of__days">
        <% for(let i = 0 ; i < Dates.length; i++){ %>
        <div class="weekDay_and__date">
          <li class="week_day"><%= Dates[i].week_day %></li>
          <li class="date"><%= Dates[i].date_num %></li>
        </div>
        <% } %>
      </div>
    </div>
    <div class="task">
      <% newTask.forEach (task=>{ %>
      <form action="" method="post" class="checkbox__task">
        <div class="inside_task">
          <div class="task__checkbox">
            <input type="checkbox" />
            <p class="task__list"><%= task.name %></p>
            <button type="submit" class="delete_button">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </form>
      <%})%>

      <form action="/" method="post">
        <input type="text" name="addedTask" autocomplete="off" required />
        <button class="add_button" type="submit">
          <i class="fa-solid fa-plus"></i>
        </button>
      </form>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>
