html {
  background-color: whitesmoke;
}

* {
  font-family: SpaceGrotesk;
}

@font-face {
  font-family: "SpaceGrotesk_bold";
  src: url(SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url(SpaceGrotesk-Regular.ttf);
}

h1,
li {
  font-family: "SpaceGrotesk_bold";
}

li {
  list-style: none;
}

.list__of__days {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weekDay_and__date {
  text-align: center;
}

.list__of__days .weekDay_and__date:first-child {
  background-color: rgb(78, 236, 78);
  color: white;
}

.list__of__days .weekDay_and__date {
  border: 1px solid black;
  width: 2em;
  height: 2em;
  padding: 0.7em;
  font-size: 0.7em;
}

.task__list {
  font-family: "SpaceGrotesk_bold";
}

.task input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: grey;
}

input:checked + p {
  color: #aaaaaa;
}

.task {
  width: 40%;
  margin: auto;
}

.task > .inside_task {
  height: 5vh;
  padding: 0.7em;
}

.checkbox__task {
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px;
  margin-bottom: 0.5em;
}

input[type="text"] {
  width: 87%;
  height: 40px;
  border: none;
  background: transparent;
  font-size: 1em;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(78, 236, 78);
}

.task__checkbox {
  display: flex;
  align-items: center;
}

.inside_task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete_button {
  position: absolute;
  right: 0;
  margin-right: 37em;
  display: none;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  color: #aaaaaa;
  border: 0.1em solid #aaaaaa;
}
.fa-solid {
  font-size: 1em;
}

input:checked ~ .delete_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_button {
  background-color: rgb(78, 236, 78);
  border: 1px solid black;
  width: 2em;
  height: 2em;
}
.fa-plus {
  color: white;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  body {
    margin: 0.5em;
  }
  h1 {
    font-size: 1.5em;
  }
  li {
    font-size: 1em;
  }

  .list__of__days .weekDay_and__date:not(:first-child) .week_day {
    font-family: "SpaceGrotesk";
    color: #aaaaaa;
  }
  .task {
    width: 100%;
  }
  input[type="text"] {
    height: 35px;
  }
  .checkbox__task {
    margin-bottom: 0.6em;
  }
  .delete_button {
    position: absolute;
    right: 0;
    margin-right: 1.5em;
    display: none;
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    color: #aaaaaa;
    border: 0.1em solid #aaaaaa;
  }
}
